@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

html, body, #root, #root>div {
    height: 100%;
}

body {
    font-family: "Rubik";
}

.wave {
    position: absolute;
    width: 150%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(117% + 1.3px);
    height: 202px;
}

.wave .shape-fill {
    fill: #F2E8CF;
}

@theme {
    --color-mydarkgreen: #386641;
    --color-mygreen: #6a994e;
    --color-mylightgreen: #a7c957;
    --color-myred: #bc4749;
    --color-cream: #f2e8cf;
    --color-linkedin: #0072b1;

    --animate-wave: wave 15s ease-in-out infinite alternate; 

    @keyframes wave {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-30%)
        }
    }
}
