@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --dark-green: #386641;
    --green: #6a994e;
    --light-green: #a7c957;
    --background: #f2e8cf;
    --red: #bc4749;
}

body {
    background-color: var(--background);
}
